html{
	scroll-behavior: smooth;
}
body{
	padding: 0;
	margin: 0;
	background-color: white;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
#particle-js{
	background-size: cover;
	height: 100vh;
	width: 100vh;
	min-height: 300px;
	min-width: 300px;
	background-color: white;
	overflow-x: hidden; 
	position: absolute;
	top: 0;
	left: 0;
}
.a{
    font-family: 'Samarkan', sans-serif;
	font-size: 20vh;
	color:black;
	position: absolute;
	top: 30vh;
	left: 25vw;

}
.c{
	background-color: rgba(0, 148, 50,1.0);
	background-size: cover;
	height: 50vh;
	width: 50vw;
	position: absolute;
}
.c1{
	top: 100vh;
	left: 0;
}
.c2{
	top: 150vh;
	left: 50vw;
}
.img1{
	position: absolute;
	top: 100vh;
	left: 60vw;
}
.img2{
	position: absolute;
	top: 152vh;
	left: 13vw;
}
.h{
	font-family: 'Samarkan', sans-serif;
	font-size: 1em;
	color: white;
	top: 0;
	left: 5vw;
}
.p{
	font-family: 'Roboto Condensed', sans-serif;	
	font-size:18px;
	color: white;
	width: 45vw;
	padding-left: 2vw;
}